<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
<comment>this config defines interface and property mapping</comment>
<entry key="endPoint">IIOP://localhost:2814/</entry>
<entry key="position"></entry>
<entry key="ellipseUser">ROSSV</entry>
<entry key="ellipsePassword">PARTY124</entry>
<entry key="hostUser">guest</entry>
<entry key="hostPassword">guest</entry>
<entry key="district">0001</entry>
<entry key="retry">1</entry>
<entry key="schemaLocation">D:\Temp\WMS\schema</entry>
<entry key="emailFrom">vzhao@torontohydro.com</entry>
<entry key="message">WMS Error</entry>
<entry key="recipients">vzhao@torontohydro.com</entry>
<entry key="smtpServer">gwia02.torontohydro.com</entry>
<entry key="subject">A message failed to update Ellipse</entry>
<entry key="mode">prod</entry>
<entry key="validateSchema">n</entry>
</properties>